{% extends 'base.html' %}

{% block content %}
    <h1 class="title">Edit tag</h1>
    {% include 'glyphs/glyphs.html' with glyphs=glyphs %}
    <dl>
        <dt>Name</dt>
        <dd>{{ tag.name }}</dd>
        <dt>Author</dt>
        <dd>{{ tag.author }}</dd>
        <dt>Created at</dt>
        <dd>{{ tag.created_at|date:"Y-m-d" }}</dd>
        <dt>Kage</dt>
        <dd><pre>{{ tag.kage }}</pre></dd>
        <dt>Description</dt>
        <dd><div>{{ tag.description }}</div></dd>
        <dt>Tags</dt>
        <dd>{% include 'glyphs/tags.html' with tags=tag.tags.all %}</dd>
        <dt>Tagged By</dt>
        <dd>{% include 'glyphs/tags.html' with tags=tag.rev_tags.all %}</dd>
    </dl>
    <form action="" method="post">
        {% csrf_token %}
        {% include 'glyphs/form_fields.html' with form=form %}
        {% include 'theme/button_submit.html' with label='Submit' %}
        <a class="button is-danger is-fullwidth mt-2" href="{% url 'tag_detail' name=tag.name %}">Cancel</a>
    </form>
{% endblock %}