{% extends 'base.html' %}

{% block content %}
<h1 class="title">Edit glyph</h1>
    <div class="box p-0 mx-4 column is-half-mobile is-one-quarter-tablet">
        <img class="container is-rounded" src="{{ glyph.image_url }}">
    </div>
    <dl>
        <dt>Author</dt>
        <dd>{{ glyph.author.username }}</dd>
        <dt>Created at</dt>
        <dd>{{ glyph.created_at|date:"Y-m-d" }}</dd>
        <dt>Description</dt>
        <dd><div>{{ glyph.description }}</div></dd>
        <dt>Tags</dt>
        <dd>{% include 'glyphs/tags.html' with tags=glyph.tags.all %}</dd>
    </dl>
    <form action="" method="post">
        {% csrf_token %}
        {% include 'glyphs/form_fields.html' with form=form %}
        {% include 'theme/button_submit.html' with label='Submit' %}
        <a class="button is-danger is-fullwidth mt-2" href="{% url 'glyph_detail' id=glyph.id %}">Cancel</a>
    </form>
    {% include 'theme/drag_file_upload.html' with tags=glyph.tag_list %}
{% endblock %}