{% extends 'base.html' %}

{% block content %}
    <div class="box p-0 mx-4 column is-half-mobile is-one-quarter-tablet">
        <img class="container is-rounded" src="{{ glyph.image_url }}">
    </div>
    <dl>
        <dt>Author</dt>
        <dd>{{ glyph.author_displayname }}</dd>
        <dt>Created at</dt>
        <dd>{{ glyph.created_at|date:"Y-m-d" }}</dd>
        <dt>Description</dt>
        <dd><div>{{ glyph.description }}</div></dd>
        <dt>Tags</dt>
        <dd>{% include 'glyphs/tags.html' with tags=glyph.tags.all %}</dd>
    </dl>
    <a class="button is-primary is-fullwidth mt-2" href="{% url 'edit_glyph' id=glyph.id %}">Edit</a>
{% endblock %}