{% extends 'base.html' %}

{% block content %}
    <h1 class="title">Tag info</h1>
    {% include 'glyphs/glyphs.html' with glyphs=glyphs %}
    {% include 'theme/pagination.html' with url='tag_detail_paged' name=tag.name content=glyphs %}
    {% if not glyphs.has_previous %}
        <dl>
            <dt>Name</dt>
            <dd>{{ tag.name }}</dd>
            <dt>Author</dt>
            <dd>{{ tag.author_displayname }}</dd>
            <dt>Created at</dt>
            <dd>{{ tag.created_at|date:"Y-m-d" }}</dd>
            <dt>Kage</dt>
            <dd><pre>{{ tag.kage }}</pre></dd>
            <dt>Description</dt>
            <dd><div>{{ tag.description_html | safe }}</div></dd>
            <dt>Tags</dt>
            <dd>{% include 'glyphs/tags.html' with tags=tag.tags.all %}</dd>
            <dt>Tagged By</dt>
            <dd>{% include 'glyphs/tags.html' with tags=tag.rev_tags.all %}</dd>
        </dl>
        <a class="button is-primary is-fullwidth mt-2" href="{% url 'edit_tag' name=tag.name %}">Edit</a>
    {% endif %}
    {% include 'theme/drag_file_upload.html' with tags=tag.name %}
{% endblock %}