<!DOCTYPE html>
<html class="has-navbar-fixed-top">

<head>
    <title>字體天國</title>
    <meta name="viewport" content="initial-scale=1.0, user_scalable=no">
    <script src="/static/bundle.js"></script>
</head>

<body>
    {% include 'theme/navbar.html' %}
    <div class="columns is-mobile is-centered mx-2">
        <main class="content column container is-max-desktop">
            {% block content %}
            {% endblock %}
        </main>
    </div>
    {% include 'theme/dragdrop_guide.html' %}
</body>

</html>
