{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
<form action="" method="post">
    {% csrf_token %}
    {% for field, error in form.errors.items %}
        <div class="notification is-danger">
            {{ error }}
        </div>
    {% endfor %}
    <label for="username">Username</label>
    {{ form.username | add_class:'input' }}
    <label for="email">Email</label>
    {{ form.email | add_class:'input' }}
    <label for="password1">Password</label>
    {{ form.password1 | add_class:'input' }}
    <label for="password2">Confirm Password</label>
    {{ form.password2 | add_class:'input' }}
    {% include 'theme/button_submit.html' with label='Register' %}
</form>
{% endblock %}