<a class="navbar-item">
    <a class="navbar-item" href="#">
        {% if user.is_authenticated %}
            Hello, {{ user.get_username }}!
        {% else %}
            Hello, Guest!
        {% endif %}
    </a>
    {% if user.is_authenticated %}
        {% include 'users/form_button.html' with url='logout' label='Logout' method='post' %}
    {% else %}
        <a class="navbar-item" href="{% url 'register' %}">Register</a>
        <a class="navbar-item" href="{% url 'login' %}">Login</a>
    {% endif %}
    {% if user.is_superuser %}
        <a class="navbar-item" href="{% url 'admin:index' %}">Admin</a>
    {% endif %}
</a>